*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
    background-color: rgb(30, 58, 100);
}

.slider{
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 800px;
    user-select: none;
}
.slider__line{
    display: flex;
    transition: all 1s ease-out;
}
.slider__img{
    width: 800px;

    user-select: none;
}
.slider__next {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.800);
    border: 1px solid rgba(255, 255, 255, 0.800);
    line-height: 1;

    user-select: none;
}
.slider__previous {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.800);
    border: 1px solid rgba(255, 255, 255, 0.800);
    line-height: 1;

    user-select: none;
}
.slider__next:hover, .slider__previous:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.400);
}

.checkboxes{
    margin-top: 40px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 30px;
    font-size: 20px;
    user-select: none;
}