*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(151, 255, 160);

    display: flex;
    flex-direction: row;
    justify-content:center;
}
.counter{
    margin-top: 20px;
    display: flex;
    height: 300px;
    width: 15%;

    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    background-color: rgb(60, 255, 11);
}
.counter__button{
    width: 200px;
    height: 200px;

    border: 2px solid #000;
    border-radius: 50%;
}
.img_colobok{
    width: 170px;
}
.input__bocounter__inputx{
    margin: 0;
}
h1{
    margin-top: 20px;
    width: 30px;
    height: 30px;

    background-color: #fff;
    font-size: 30px;
    text-align: center;

}

.counter__input input {
    width: 100%;
    background-color: #ffc700;
    border: none;
    text-align: center;
  }